h4,h5,h6 {
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

#barFooter {
	text-align: center;
	height: 50px !important;
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
}