#headerCommon h1 {
	height: 0px
}

#systemName {
	margin-left: 10px !important;
}

#headerCommon {
	border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
}

#userProperty {
	width: auto;
	text-align: right;
	margin-right: 10px;
}

#nameUser {
	float: left;
	margin-top: 10px;
	text-align: right;
	width: auto;
	margin-left: 75%;
}